<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<welcome-file-list>
		<welcome-file>Menu</welcome-file>
	</welcome-file-list>
    <servlet>
		<servlet-name>MainMenu</servlet-name>
		<servlet-class>lpo.MainMenuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainMenu</servlet-name>
		<url-pattern>/Menu</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Authorization</servlet-name>
		<servlet-class>lpo.AuthorizationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Authorization</servlet-name>
		<url-pattern>/Authorization</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateEvent</servlet-name>
		<servlet-class>lpo.CreateEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateEvent</servlet-name>
		<url-pattern>/CreateEvent</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SubscribedEvents</servlet-name>
		<servlet-class>lpo.ViewMyEventsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubscribedEvents</servlet-name>
		<url-pattern>/SubscribedEvents</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewAllEvents</servlet-name>
		<servlet-class>lpo.ViewEventsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewAllEvents</servlet-name>
		<url-pattern>/ViewAllEvents</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewEvent</servlet-name>
		<servlet-class>lpo.ViewEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewEvent</servlet-name>
		<url-pattern>/ViewEvent</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmailTestServlet</servlet-name>
		<servlet-class>lpo.EmailTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailTestServlet</servlet-name>
		<url-pattern>/EmailTestServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CronEventListEmailServlet</servlet-name>
		<servlet-class>lpo.CronEventListEmailServlet</servlet-class>
	</servlet>
	
	<!-- CRON JOBS FOLLOW -->
	
	<servlet-mapping>
		<servlet-name>CronEventListEmailServlet</servlet-name>
		<url-pattern>/cron/CronEventListEmailServlet</url-pattern>
	</servlet-mapping>
	
	<!-- The following prevents anyone except the administator OR cron
		 scheduler from running servlets under the /cron/* path  -->
	
	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>cron</web-resource-name>
	        <url-pattern>/cron/*</url-pattern>
	    </web-resource-collection>
	    <auth-constraint>
	        <role-name>admin</role-name>
	    </auth-constraint>
	</security-constraint>
</web-app>
